<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
"http://www.w3.org/TR/html4/frameset.dtd">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Main page</title>
  <style type="text/css">
    .mid{
  background: url('https://krot.info/uploads/posts/2020-01/1579325313_1-3.jpg'),rgba(255,255,255, 0.2);
  background-size:160%;
  background-blend-mode: color;
  background-attachment: fixed;
}
</style>
 </head>
 <frameset cols="50,50" class="mid">
  <frame src="document.html" name="Document" class="mid">
  <frame src="results.html" name="Results" class="mid">
 </frameset>
</html>